@mixin border-radius($radius){
    -webkit-border-radius   :$radius;
        -moz-border-radius  :$radius;
         -ms-border-radius  :$radius;
            border-radius   :$radius;
  }
  
*{
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
 


/* Color font */
.c-fff{color: #fff;}

/* background */
.bg-333333{background: #333333;}
.bg-fff{background: #fff;}





.jumbotron {
    margin-bottom: 0rem;
    border-radius: .0rem;
}

.bt-thumb-carrousel{
    @include border-radius(0);
}

.m-t-10{ margin-top: 10px; }

.m-t-15{ margin-top: 15px; }

.m-t-20{ margin-top: 20px; }
.m-t-30{ margin-top: 30px; }
.m-t-40{ margin-top: 40px; }

.m-t-110{ margin-top: 110px; }
.m-t-160{ margin-top: 160px; }

.m-b-10{ margin-bottom: 10px;}
.m-b-20{ margin-bottom: 20px;}
.m-b-30{ margin-bottom: 30px;}
.m-b-40{ margin-bottom: 40px;}

.p-t-10{ padding-top: 10px;}
.p-t-20{ padding-top: 20px;}
.p-t-30{ padding-top: 30px;}
.p-t-40{ padding-top: 40px;}
.p-t-50{ padding-top: 50px;}

.p-b-10{ padding-bottom: 10px;}
.p-b-20{ padding-bottom: 20px;}
.p-b-30{ padding-bottom: 30px;}
.p-b-40{ padding-bottom: 40px;}
.p-b-50{ padding-bottom: 50px;}

.align-center-flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }





















