


	#footer {
		div {
			div {
				div{
                    padding: 20px;
                    //background: #F00;
                }
                .menuFooter{
                    a{
                        font-size: 14px;
                        padding: 0px 20px;
                        color: #000;
                    }
                    a:hover{
                        color: #0056b3;
                    }

                    padding: 0px;
                    text-align: right;
                    border-top: none;
                }
                border-top: solid 1px #f9f9f9;
                font-size: 14px;
			}
		}
	}

