



#navbarCollapse{
    div{
        form{
            input{
                border-radius: 0px;
            }
        }
    }
    ul{
        li.page_item{
            a{
                padding: 0 20px;
                font-size: 17px;
                font-weight: 500;
                color: #fff;
            }
            a:hover{
                color: #999999;
            }
            list-style-type: none;
        }
    }
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .16rem 1rem;
}

.frame_search { 
    form{
        input{
            background: transparent;
            border: none;
            padding: 2px 10px !important;
            outline: none;
            border-color: inherit;
            -webkit-box-shadow: none;
            box-shadow: none;

            outline: -webkit-focus-ring-color  none 0px;
            outline-color: -webkit-focus-ring-color  none 0px; 
            outline-style: none 0px;
            outline-width: none 0px;

        }
        :focus{
            background: transparent;
        }
        button{
            background: transparent;
            padding: .2px 10px !important;
            position: absolute;
            right: 0px;
        }
    }

    background: #1f1f1f;
    position: relative;
    padding: 2px 0px;
}
 
@media only screen and (max-width: 600px) {
    session{
        .navbar-expand-md{
            padding-bottom: 20px;
        }
    }

    #navbarCollapse {
        ul {
            li.page_item{
                a{
                    padding: 0px 5px !important;
                }

                padding: 10px 0px;
            }

            padding-top: 23px 0;
        }
        div{
            form{
                button{
                    position: absolute;
                    right: 3px;
                    top: 5px;
                }

                input{
                    background: transparent;
                    border: none;
                    padding: 10px 15px !important;
                }


                position: relative;;
            }
        }
    } 
}

 


 

